mixin socials(className, modificators)
    - modificators = modificators || ""
    ul(class=`${className} ${modificators}`)
        each item in socials
            each attrs, title in item
                li(class=`${className}__item`)
                    each attr in attrs
                        each svg, link in attr
                            a(class=`${className}__link` href=link target="_blank" title=title)
                                svg(class=`${className}__svg`)
                                    use(xlink:href="images/sprites/sprite.svg#" + svg)

mixin author(additionalClasses)
    - additionalClasses = additionalClasses || ""
    .author(class=`${additionalClasses}`)
        include ../modules/avatar
        h3.subtitle Vlad Gerasimovich
        .desc
            p A Front-End developer

mixin title(title, svg)
    .title-wrapper
        - for (var i = 0; i < title.length; i++)
            svg.title-wrapper__svg
                use(xlink:href="images/sprites/sprite.svg#" + `${svg[i]}`)
            h1.title= `${title[i]}`

mixin contacts(className)
    ul(class=`${className}`)
        each item in contacts
            each attrs, title in item
                li(class=`${className}__item`)
                    each attr in attrs
                        each content_object, link in attr
                            a(class=`${className}__link` href=link title=title)
                                each content in content_object
                                    each text, svg in content
                                        svg(class=`${className}__svg`)
                                            use(xlink:href="images/sprites/sprite.svg#" + svg)
                                        span(class=`${className}__text`)= text

mixin nav(className, additionalClasses, items, buttons)
    - additionalClasses = additionalClasses || ""
    - buttons = buttons || ""
    nav(class=`${className} ${additionalClasses}`)
        each item in items
            each text, link in item
                li(class=`${className}__item`)
                    if !buttons
                        a(class=`${className}__link` href=link)= text
                    else
                        button(class=`${className}__link` type=`${link}` value=`${text}`)= text

mixin main-bg(additionalClasses)
    - additionalClasses = additionalClasses || ""
    .main-bg(class =`${additionalClasses}`)
        img(class="main-bg__img" src="images/water.jpg" alt="Background with a forest lake")

mixin footer(copyrightModificators)
    - copyrightModificators = copyrightModificators || ""
    footer.footer
        if !copyrightModificators
            .footer__general
                .footer__general-summary
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                .footer__general-links
                    +nav("nav", "nav_compact", nav)
                    +socials("socials", "socials_center socials_fill_grey-white")
                .footer__general-quote
                    blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur, consequatur corporis et omnis sequi tenetur!
                    span.quote-author — Lorem ipsum.
        .footer__copyright(class=`${copyrightModificators}`)
            p &copy; Lorem ipsum.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, excepturi.

mixin btn_auth(additionalClasses)
    - additionalClasses = additionalClasses || ""
    button.btn.btn_auth(class=`${additionalClasses}`) Log in