mixin socials(className, modificators)
    - modificators = modificators || ""
    ul(class=`${className} ${modificators}`)
        each item in socials
            each attrs, title in item
                li(class=`${className}__item`)
                    each attr in attrs
                        each svg, link in attr
                            a(class=`${className}__link` href=link target="_blank" title=title)
                                svg(class=`${className}__svg`)
                                    use(xlink:href="images/sprites/svg/sprite.svg#" + svg)

mixin title(title, svg)
    .title-wrapper
        - for (var i = 0; i < title.length; i++)
            svg.title-wrapper__svg
                use(xlink:href="images/sprites/svg/sprite.svg#" + `${svg[i]}`)
            h1.title= `${title[i]}`

mixin contacts(className)
    ul(class=`${className}`)
        each item in contacts
            each attrs, title in item
                li(class=`${className}__item`)
                    each attr in attrs
                        each content_object, link in attr
                            a(class=`${className}__link` href=link title=title)
                                each content in content_object
                                    each text, svg in content
                                        svg(class=`${className}__svg`)
                                            use(xlink:href="images/sprites/svg/sprite.svg#" + svg)
                                        span(class=`${className}__text`)= text

mixin nav(className, modificators)
    - modificators = modificators || ""
    nav(class=`${className} ${modificators}`)
        each item in nav
            li(class=`${className}__item`)
                each text, link in item
                    a(class=`${className}__link` href=link)= text